In [35]:
# https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd=""
)

In [5]:
# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE mydatabase")

In [6]:
## connect to database

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mydatabase"
)

In [8]:
mycursor = mydb.cursor()

In [11]:
# mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [12]:
# sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"

In [13]:
# val = ("David", "California")

In [14]:
# mycursor.execute(sql, val)

In [15]:
# ## di commit dulu baru muncul
# mydb.commit()

In [16]:
# print(mycursor.rowcount, "record(s) inserted.")

In [17]:
## insert many
val = [
    ("Lily", "California"),
    ("David", "San Francisco"),
    ("Micheal", "Las Vegas"),
    ("Sarah", "New York")
]

In [18]:
# mycursor.executemany(sql, val)

In [19]:
# mydb.commit()

In [20]:
# print(mycursor.rowcount, "record(s) inserted.")

In [21]:
# ## select record
# sql = "SELECT * FROM customers"
# mycursor.execute(sql)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [22]:
# ## fetch one
# ## Notice how the query value is stored in separate variable. This is a technique called parameterized queries to prevent SQL injection.
# sql = "SELECT * FROM customers WHERE address = %s"
# adr = ("California", )

In [23]:
# mycursor.execute(sql, adr)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [24]:
# ## limit select 
# mycursor.execute("SELECT * FROM customers LIMIT 5")
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [25]:
# ### sort record
# sql = "SELECT * FROM customers WHERE address = %s ORDER by name"
# adr = ("California", )
# mycursor.execute(sql, adr)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [26]:
# ### delete record
# sql = "DELETE FROM customers WHERE address = %s"
# adr = ("California", )
# mycursor.execute(sql, adr)
# mydb.commit()
# print(mycursor.rowcount, "record(s) deleted.")

In [28]:
# ### drop tables
# mycursor = mydb.cursor()
# sql = "DROP TABLE customers"
# mycursor.execute(sql)

In [29]:
# ### update record
# mycursor = mydb.cursor()
# sql = "UPDATE customers SET address = %s WHERE name = %s"
# val = ("California", "John", )
# mycursor.execute(sql, val)
# mydb.commit()
# print(mycursor.rowcount, "record(s) updated.")

In [30]:
### join table
mycursor = mydb.cursor()
sql = "CREATE TABLE products (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), price VARCHAR(255))"
mycursor.execute(sql)

sql = "INSERT INTO products (name, price) VALUES (%s, %s)"
val = [
    ("macbook", "2000"),
    ("iphone", "1000"),
    ("apple watch", "500")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

3 record(s) inserted.

In [31]:
mycursor = mydb.cursor()
sql = "CREATE TABLE orders (id INT AUTO_INCREMENT PRIMARY KEY, customer_id INT, product_id INT)"
mycursor.execute(sql)
sql = "INSERT INTO orders (customer_id, product_id) VALUES (%s, %s)"
val = [
    ("1", "1"),
    ("1", "2"),
    ("2", "3"),
    ("3", "3")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

4 record(s) inserted.

In [32]:
# mycursor = mydb.cursor()
# sql = "SELECT \
#     c.name, o.id\
#     FROM customers c\
#     JOIN orders o ON c.id = o.customer_id\
#     "
# mycursor.execute(sql)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [33]:
## Outer join
# mycursor = mydb.cursor()
# sql = "SELECT \
#     c.name, o.id\
#     FROM customers c\
#     LEFT JOIN orders o ON c.id = o.customer_id\
#     "
# mycursor.execute(sql)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [34]:
# ### Inner join multiple select
# mycursor = mydb.cursor()
# sql = "SELECT \
#     o.id, c.name, p.name, p.price\
#     FROM orders o\
#     JOIN products p ON o.product_id = p.id\
#     JOIN customers c ON o.customer_id = c.id"
# mycursor.execute(sql)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)